# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: Default
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        tags: |
          $(tag)

    - script: |
        # Install Trivy
        #curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh

        # Download HTML template
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl -o trivy-html.tpl

        # Run Trivy scan and generate HTML report
        ./bin/trivy image \
          --severity HIGH,CRITICAL \
          --format template \
          --template "@trivy-html.tpl" \
          --output trivy-report.html \
          myapp:$(tag)
      displayName: Trivy scan & generate HTML report

    - task: PublishBuildArtifacts@1
      displayName: Publish Trivy HTML report
      inputs:
        pathToPublish: trivy-report.html
        artifactName: trivy-report
