# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'
  imageName: 'selconyt/solar-system'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: Default
    steps:
    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
        repository: $(imageName)  # ← الاسم الكامل مع المستخدم
        tags: |
          $(tag)

    - script: |
        # Install Trivy
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b ./bin v0.69.0

        # Verify installation
        if [ ! -x "./bin/trivy" ]; then
          echo "❌ Trivy installation failed!"
          exit 1
        fi

        # Download HTML template
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl -o trivy-html.tpl

        # Scan the image
        ./bin/trivy image \
          --severity HIGH,CRITICAL \
          --format template \
          --template "@trivy-html.tpl" \
          --output trivy-report.html \
          $(imageName):$(tag)
      displayName: 'Trivy scan & generate HTML report'

    - task: PublishBuildArtifacts@1
      displayName: Publish Trivy HTML report
      inputs:
        pathToPublish: trivy-report.html
        artifactName: trivy-report

    - task: Docker@2
      displayName: 'Docker Login'
      inputs:
        containerRegistry: 'Selcon-Docker-Hub'
        command: 'login'

    - task: Docker@2
      displayName: 'Push to Docker Hub'
      inputs:
        containerRegistry: 'Selcon-Docker-Hub'
        repository: $(imageName)
        command: 'push'
        tags: |
          $(tag)
